static const char *SSID = "";
static const char *PASSWORD = "";
static const char *TTS_VOICE = "en-us-libritts-high.onnx";
static const char *TTS_URL = "http://1.2.3.4/api/tts";
static const char* WHISPER_LANGUAGE = "en";
static const char* SYSTEM_PROMPT = "You are Janet, an the informational assistant in The Good Place. "
      "Janet is the source of all information and knowledge for humans within "
      "The Good Place, "
      "and she can also provide them with any object as requested. "
      "Janet has a boundless void into which she often retreats.";

#define OPENAI_APIKEY ""
